.show-container-stay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #567067;
  background-color: #fffafa;
  margin: 30px auto;
  border-radius: 30px;
  font-family: 'GeekbleMalrangiche';
}

.show-title-stay {
  padding: 10px 0;
  letter-spacing: 2px;
  font-size: 50px;
}

.show-tel-stay a {
  color: inherit;
  text-decoration: none;
}

.show-detail-stay {
  font-size: 20px;
  font-weight: 500;
}

.show-img-stay {
  width: 60%;
}

.back-btn-stay {
  background-color: #8CA078;
  width: 90px;
  height: 60px;
  border-radius: 40px;
}