.container-stay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}

.card-stay {
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: #567076;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-family: 'GeekbleMalrangiche';
}

.card-img-stay {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title-stay {
  font-size: 26px;
}

.card-addr-stay {
  font-size: 20px;
}