@font-face {
    font-family: 'GeekbleMalrangiche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff6ef;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}