.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}

.card {
  border-radius: 30px;
  padding: 10px;
  background-color: #ffffff;
  display: grid;
  gap: 10px;
  text-align: center;
}

.card-img {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

.card-title {
  padding-top: 5px;
  font-weight: 500;
  font-size: 32px;
}

.card-period {
  font-size: 24px;
  padding-bottom: 10px;
}